<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Terms of Service")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
	<section class="container about">
        <iframe src="http://www.educame.live/bitnami/a/index.html#services"  
		style="border:0px #ffffff none;" name="myiFrame" scrolling="no" 
		frameborder="1" marginheight="0px" marginwidth="0px" height="1500px" 
		width="100%" allowfullscreen></iframe>
	</section>
</main>